<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.proyek3.kopkar_polindra">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo_kopkar"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo_kopkar"
        android:supportsRtl="true"
        android:theme="@style/MainThemeNoActionBar"
        tools:ignore="AllowBackup"
        tools:targetApi="n">
        <activity android:name=".activity.PinjamanActivity"></activity>
        <activity
            android:name=".activity.LupaPasswordActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.AllSimpananActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.SimpananActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.DashboardActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/MainThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/MainThemeNoActionBar"
            tools:ignore="LockedOrientationActivity">

            <!-- main -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>